addon/
src/
build/
coverage/
docs/
example/
test/
.git/
.nyc_output/
.vscode/
.dockerignore
.codebeatignore
.gitignore
.npmignore
.travis.yml
Dockerfile
tsconfig.json
tslint.json
install-dependencies.sh